In [1]:
import pandas as pd
import numpy as n

In [2]:
s = pd.read_csv("C:/Users/akrit/Downloads/Orders.csv")

In [3]:
s

    Order_ID  Order_Date CustomerName             State     City
0    B-26055  10-03-2018    Harivansh     Uttar Pradesh  Mathura
1    B-25993  03-02-2018       Madhav             Delhi    Delhi
2    B-25973  24-01-2018  Madan Mohan     Uttar Pradesh  Mathura
3    B-25923  27-12-2018        Gopal       Maharashtra   Mumbai
4    B-25757  21-08-2018     Vishakha    Madhya Pradesh   Indore
..       ...         ...          ...               ...      ...
495  B-25742  03-08-2018       Ashwin               Goa      Goa
496  B-26088  26-03-2018       Bhavna            Sikkim  Gangtok
497  B-25707  01-07-2018      Shivani       Maharashtra   Mumbai
498  B-25758  22-08-2018      Shubham  Himachal Pradesh    Simla
499  B-26095  28-03-2018      Monisha         Rajasthan   Jaipur

[500 rows x 5 columns]

In [4]:
m = s.head(60)

In [5]:
m

   Order_ID  Order_Date CustomerName              State                City
0   B-26055  10-03-2018    Harivansh      Uttar Pradesh             Mathura
1   B-25993  03-02-2018       Madhav              Delhi               Delhi
2   B-25973  24-01-2018  Madan Mohan      Uttar Pradesh             Mathura
3   B-25923  27-12-2018        Gopal        Maharashtra              Mumbai
4   B-25757  21-08-2018     Vishakha     Madhya Pradesh              Indore
5   B-25967  21-01-2018       Sudevi      Uttar Pradesh           Prayagraj
6   B-25955  16-01-2018        Shiva        Maharashtra                Pune
7   B-26093  27-03-2018       Sarita        Maharashtra                Pune
8   B-25798  01-10-2018       Shishu     Andhra Pradesh           Hyderabad
9   B-25602  01-04-2018       Vrinda        Maharashtra                Pune
10  B-25858  13-11-2018       Uudhav        Maharashtra              Mumbai
11  B-25969  21-01-2018     Shreyshi            Gujarat               Surat
12  B-26099  30-03-2018       Bhishm        Maharashtra              Mumbai
13  B-25997  04-02-2018       Yogesh        Maharashtra                Pune
14  B-25881  25-11-2018       Lalita      Uttar Pradesh             Mathura
15  B-25761  25-08-2018       Madhav      Uttar Pradesh             Mathura
16  B-25887  01-12-2018     Vishakha      Uttar Pradesh           Prayagraj
17  B-25823  18-10-2018        Rohan        Maharashtra              Mumbai
18  B-25853  08-11-2018       Gaurav            Gujarat           Ahmedabad
19  B-25862  15-11-2018         Amol              Bihar               Patna
20  B-25830  26-10-2018       Aastha   Himachal Pradesh               Simla
21  B-25786  19-09-2018  Madan Mohan      Uttar Pradesh             Mathura
22  B-25686  11-06-2018        Pooja   Himachal Pradesh               Simla
23  B-26022  18-02-2018    Shrichand             Punjab          Chandigarh
24  B-26003  08-02-2018       Hitesh     Madhya Pradesh              Bhopal
25  B-25755  19-08-2018      Shourya            Kerala   Thiruvananthapuram
26  B-25902  10-12-2018     Ishpreet        Maharashtra              Mumbai
27  B-25935  04-01-2018       Sudhir           Nagaland              Kohima
28  B-25797  30-09-2018      Sauptik     Madhya Pradesh              Indore
29  B-25639  27-04-2018        Lisha     Madhya Pradesh              Bhopal
30  B-25681  04-06-2018       Bhawna     Madhya Pradesh              Indore
31  B-25909  13-12-2018        Sujay        Maharashtra                Pune
32  B-25910  14-12-2018          Jay              Delhi               Delhi
33  B-25950  13-01-2018       Shruti     Madhya Pradesh              Indore
34  B-25613  12-04-2018        Mohan            Haryana          Chandigarh
35  B-25919  23-12-2018         Neha          Rajasthan             Udaipur
36  B-25768  01-09-2018    Shreyoshe          Karnataka           Bangalore
37  B-25629  24-04-2018       Hemant            Kerala   Thiruvananthapuram
38  B-25729  22-07-2018    Madhulika     Madhya Pradesh              Bhopal
39  B-25943  09-01-2018      Shardul            Gujarat           Ahmedabad
40  B-25842  02-11-2018      Sheetal        Maharashtra                Pune
41  B-26073  21-03-2018   Pournamasi     Madhya Pradesh              Indore
42  B-25778  11-09-2018      Surabhi        Maharashtra              Mumbai
43  B-25717  12-07-2018      Manshul      Uttar Pradesh             Lucknow
44  B-26085  26-03-2018    Shrichand             Punjab          Chandigarh
45  B-26048  04-03-2018        Parth        Maharashtra                Pune
46  B-25793  24-09-2018    Siddharth     Madhya Pradesh              Indore
47  B-25656  11-05-2018     Priyanka        Maharashtra                Pune
48  B-25608  08-04-2018      Aarushi         Tamil Nadu             Chennai
49  B-25752  14-08-2018      Vaibhav     Madhya Pradesh              Indore
50  B-25779  12-09-2018         Savi        Maharashtra                Pune
51  B-25603  03-04-2018        Jahan     Madhya Pradesh              Bhopal
52  B-26051  07-03-2018      Parishi        West Bengal             Kolkata
53  B-25653  08-05-2018        Farah           Nagaland              Kohima
54  B-25855  08-11-2018     Abhijeet     Madhya Pradesh              Bhopal
55  B-25762  26-08-2018      Anudeep     Madhya Pradesh              Indore
56  B-25995  04-02-2018       Yohann              Delhi               Delhi
57  B-25929  02-01-2018       Girase            Kerala   Thiruvananthapuram
58  B-26006  09-02-2018       Arpita          Karnataka           Bangalore
59  B-25697  22-06-2018        Vijay  Jammu and Kashmir             Kashmir

In [6]:
m1 = m.head(20)

In [7]:
m2 =m.tail(20)

In [8]:
m1

   Order_ID  Order_Date CustomerName           State       City
0   B-26055  10-03-2018    Harivansh   Uttar Pradesh    Mathura
1   B-25993  03-02-2018       Madhav           Delhi      Delhi
2   B-25973  24-01-2018  Madan Mohan   Uttar Pradesh    Mathura
3   B-25923  27-12-2018        Gopal     Maharashtra     Mumbai
4   B-25757  21-08-2018     Vishakha  Madhya Pradesh     Indore
5   B-25967  21-01-2018       Sudevi   Uttar Pradesh  Prayagraj
6   B-25955  16-01-2018        Shiva     Maharashtra       Pune
7   B-26093  27-03-2018       Sarita     Maharashtra       Pune
8   B-25798  01-10-2018       Shishu  Andhra Pradesh  Hyderabad
9   B-25602  01-04-2018       Vrinda     Maharashtra       Pune
10  B-25858  13-11-2018       Uudhav     Maharashtra     Mumbai
11  B-25969  21-01-2018     Shreyshi         Gujarat      Surat
12  B-26099  30-03-2018       Bhishm     Maharashtra     Mumbai
13  B-25997  04-02-2018       Yogesh     Maharashtra       Pune
14  B-25881  25-11-2018       Lalita   Uttar Pradesh    Mathura
15  B-25761  25-08-2018       Madhav   Uttar Pradesh    Mathura
16  B-25887  01-12-2018     Vishakha   Uttar Pradesh  Prayagraj
17  B-25823  18-10-2018        Rohan     Maharashtra     Mumbai
18  B-25853  08-11-2018       Gaurav         Gujarat  Ahmedabad
19  B-25862  15-11-2018         Amol           Bihar      Patna

In [9]:
m2

   Order_ID  Order_Date CustomerName              State                City
40  B-25842  02-11-2018      Sheetal        Maharashtra                Pune
41  B-26073  21-03-2018   Pournamasi     Madhya Pradesh              Indore
42  B-25778  11-09-2018      Surabhi        Maharashtra              Mumbai
43  B-25717  12-07-2018      Manshul      Uttar Pradesh             Lucknow
44  B-26085  26-03-2018    Shrichand             Punjab          Chandigarh
45  B-26048  04-03-2018        Parth        Maharashtra                Pune
46  B-25793  24-09-2018    Siddharth     Madhya Pradesh              Indore
47  B-25656  11-05-2018     Priyanka        Maharashtra                Pune
48  B-25608  08-04-2018      Aarushi         Tamil Nadu             Chennai
49  B-25752  14-08-2018      Vaibhav     Madhya Pradesh              Indore
50  B-25779  12-09-2018         Savi        Maharashtra                Pune
51  B-25603  03-04-2018        Jahan     Madhya Pradesh              Bhopal
52  B-26051  07-03-2018      Parishi        West Bengal             Kolkata
53  B-25653  08-05-2018        Farah           Nagaland              Kohima
54  B-25855  08-11-2018     Abhijeet     Madhya Pradesh              Bhopal
55  B-25762  26-08-2018      Anudeep     Madhya Pradesh              Indore
56  B-25995  04-02-2018       Yohann              Delhi               Delhi
57  B-25929  02-01-2018       Girase            Kerala   Thiruvananthapuram
58  B-26006  09-02-2018       Arpita          Karnataka           Bangalore
59  B-25697  22-06-2018        Vijay  Jammu and Kashmir             Kashmir

In [10]:
join = m1.join(m2,lsuffix='__left',rsuffix='__right',how="outer")

In [11]:
mm=pd.concat([m1,m2])
ignore_index=True

In [12]:
mm

   Order_ID  Order_Date CustomerName              State                City
0   B-26055  10-03-2018    Harivansh      Uttar Pradesh             Mathura
1   B-25993  03-02-2018       Madhav              Delhi               Delhi
2   B-25973  24-01-2018  Madan Mohan      Uttar Pradesh             Mathura
3   B-25923  27-12-2018        Gopal        Maharashtra              Mumbai
4   B-25757  21-08-2018     Vishakha     Madhya Pradesh              Indore
5   B-25967  21-01-2018       Sudevi      Uttar Pradesh           Prayagraj
6   B-25955  16-01-2018        Shiva        Maharashtra                Pune
7   B-26093  27-03-2018       Sarita        Maharashtra                Pune
8   B-25798  01-10-2018       Shishu     Andhra Pradesh           Hyderabad
9   B-25602  01-04-2018       Vrinda        Maharashtra                Pune
10  B-25858  13-11-2018       Uudhav        Maharashtra              Mumbai
11  B-25969  21-01-2018     Shreyshi            Gujarat               Surat
12  B-26099  30-03-2018       Bhishm        Maharashtra              Mumbai
13  B-25997  04-02-2018       Yogesh        Maharashtra                Pune
14  B-25881  25-11-2018       Lalita      Uttar Pradesh             Mathura
15  B-25761  25-08-2018       Madhav      Uttar Pradesh             Mathura
16  B-25887  01-12-2018     Vishakha      Uttar Pradesh           Prayagraj
17  B-25823  18-10-2018        Rohan        Maharashtra              Mumbai
18  B-25853  08-11-2018       Gaurav            Gujarat           Ahmedabad
19  B-25862  15-11-2018         Amol              Bihar               Patna
40  B-25842  02-11-2018      Sheetal        Maharashtra                Pune
41  B-26073  21-03-2018   Pournamasi     Madhya Pradesh              Indore
42  B-25778  11-09-2018      Surabhi        Maharashtra              Mumbai
43  B-25717  12-07-2018      Manshul      Uttar Pradesh             Lucknow
44  B-26085  26-03-2018    Shrichand             Punjab          Chandigarh
45  B-26048  04-03-2018        Parth        Maharashtra                Pune
46  B-25793  24-09-2018    Siddharth     Madhya Pradesh              Indore
47  B-25656  11-05-2018     Priyanka        Maharashtra                Pune
48  B-25608  08-04-2018      Aarushi         Tamil Nadu             Chennai
49  B-25752  14-08-2018      Vaibhav     Madhya Pradesh              Indore
50  B-25779  12-09-2018         Savi        Maharashtra                Pune
51  B-25603  03-04-2018        Jahan     Madhya Pradesh              Bhopal
52  B-26051  07-03-2018      Parishi        West Bengal             Kolkata
53  B-25653  08-05-2018        Farah           Nagaland              Kohima
54  B-25855  08-11-2018     Abhijeet     Madhya Pradesh              Bhopal
55  B-25762  26-08-2018      Anudeep     Madhya Pradesh              Indore
56  B-25995  04-02-2018       Yohann              Delhi               Delhi
57  B-25929  02-01-2018       Girase            Kerala   Thiruvananthapuram
58  B-26006  09-02-2018       Arpita          Karnataka           Bangalore
59  B-25697  22-06-2018        Vijay  Jammu and Kashmir             Kashmir

In [13]:
s.set_index("Order_ID").head()

          Order_Date CustomerName           State     City
Order_ID
B-26055   10-03-2018    Harivansh   Uttar Pradesh  Mathura
B-25993   03-02-2018       Madhav           Delhi    Delhi
B-25973   24-01-2018  Madan Mohan   Uttar Pradesh  Mathura
B-25923   27-12-2018        Gopal     Maharashtra   Mumbai
B-25757   21-08-2018     Vishakha  Madhya Pradesh   Indore

In [14]:
s.rows=s.rows.str.upper()
s.head()

AttributeError: 'DataFrame' object has no attribute 'rows'

In [ ]:
s['mm']=s['STATE'].str.count("Delhi")
s.head()

In [ ]:
s1= mm.head()

In [ ]:
s2 = mm.tail()

In [ ]:
s1

In [ ]:
pd.merge(s1,s2,on ='Order_ID',how='natural')

In [ ]:
s[s.duplicated(subset=['Order_Date'])].head(60)

In [ ]:
for x in m.columns:
    for y in m.columns:
        print(x,y)

In [ ]:
s.iloc[:,2]

In [ ]:
s.shape[1]

In [ ]:
v=pd.read_excel("C:/Users/akrit/Downloads/dup_columns.xlsx")

In [ ]:
v

In [ ]:
for x in v.columns:
    for y in v.columns:
        print(x,y)

In [ ]:
v.sort_index(axis=1,ascending =False)

In [ ]:
from faker import Faker
import pandas as p
import numpy as n

In [ ]:
fake = Faker()

In [ ]:
dd={}
mm=[]

In [ ]:
fake.data_time_between_dates('-1y','now')

In [ ]:
fake.name()

In [ ]:
fake.zipcode()

In [ ]:
for x in range (10,20):
    print(n.random.randint(1000,800000000))

In [ ]:
for i in range(20):
for y  in range (i):   
dd.append(fake.name())

In [ ]:
dd

In [ ]:
dic ={"trandata":['03-09-2002 17:08','02-09-2002 05:33','09-09-2003 06:33'],
     "tranamount":['12324','213','3143'] }

In [ ]:
d =p.DataFrame(dic)

In [ ]:
d.info()

In [ ]:
d['trandata']=p.to_datetime(d['trandata'])

In [ ]:
d['data_only']= d.trandata.dt.day_name()
d

In [43]:
s=pd.read_csv("C:/Users/akrit/Downloads/mm.csv")

In [44]:
s

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member
...,...,...,...,...,...,...,...,...,...
115592,2179,2010-12-31 23:20:32,2010-12-31 23:56:52,31110,20th St & Florida Ave NW,31623,Columbus Circle / Union Station,W00859,Casual
115593,953,2010-12-31 23:21:57,2010-12-31 23:37:50,31106,Calvert & Biltmore St NW,31401,14th St & Spring Rd NW,W00914,Member
115594,737,2010-12-31 23:27:28,2010-12-31 23:39:45,31602,Park Rd & Holmead Pl NW,31401,14th St & Spring Rd NW,W00973,Member
115595,514,2010-12-31 23:37:38,2010-12-31 23:46:12,31111,10th & U St NW,31202,14th & R St NW,W01119,Member
115596,51962,2010-12-31 23:49:05,2011-01-01 14:15:08,31111,10th & U St NW,31111,10th & U St NW,W00771,Casual

In [52]:
s=s[['Start date']].sample(frac=1).head(6).reset_index(drop=True)

In [53]:
s

            Start date
0  2010-10-29 16:09:11
1  2010-11-07 12:11:05
2  2010-11-01 12:04:21
3  2010-11-20 18:05:15
4  2010-12-22 13:44:00
5  2010-10-23 13:49:58

In [54]:
s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Start date  6 non-null      object
dtypes: object(1)
memory usage: 180.0+ bytes

In [56]:
s['Start date']=pd.to_datetime(s['Start date'])