DATA CLEANING

In [59]:
import pandas as pd
import numpy as n 
import matplotlib as m

In [81]:
first=pd.read_excel('C:/Users/akrit/OneDrive/Documents/cleaning.xlsx')
first
# first.info()
# first.describe()
first.to_csv('C:/Users/akrit/OneDrive/Documents/cleaning.csv')
first

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80.0,10,6996,334,99.94,9800+,58.60,29.0,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20.0,1,1181,186,62.15,1287,91.76,4.0,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31.0,7,1485,269*,61.87,2667,55.68,5.0,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41.0,4,2256,274,60.97,1707+,54.48,7.0,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40.0,4,2190,270*,60.83,416+,56.00,10.0,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,GC Smith (ICC/SA),2002-2014,117,205.0,13,9265,277,48.25,15525,59.67,27.0,38,11,1165,24
61,WH Ponsford (AUS),1924-1934,29,48.0,4,2122,266,48.22,3118+,44.77,7.0,6,1,119+,0
62,SJ McCabe (AUS),1930-1938,39,62.0,5,2748,232,48.21,3217+,60.02,6.0,13,4,241+,5+
63,DR Jardine (ENG),1928-1934,22,33.0,6,1296,127,48.00,2110+,25.59,1.0,10,2,53+,0
64,DR Jardine (ENG),1928-1934,22,33.0,6,1296,127,48.00,2110+,25.59,1.0,10,2,53+,0

In [61]:
firs=pd.read_csv('C:/Users/akrit/OneDrive/Documents/cleaning.csv',index_col=0)
firs

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80.0,10,6996,334,99.94,9800+,58.60,29.0,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20.0,1,1181,186,62.15,1287,91.76,4.0,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31.0,7,1485,269*,61.87,2667,55.68,5.0,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41.0,4,2256,274,60.97,1707+,54.48,7.0,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40.0,4,2190,270*,60.83,416+,56.00,10.0,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,GC Smith (ICC/SA),2002-2014,117,205.0,13,9265,277,48.25,15525,59.67,27.0,38,11,1165,24
61,WH Ponsford (AUS),1924-1934,29,48.0,4,2122,266,48.22,3118+,44.77,7.0,6,1,119+,0
62,SJ McCabe (AUS),1930-1938,39,62.0,5,2748,232,48.21,3217+,60.02,6.0,13,4,241+,5+
63,DR Jardine (ENG),1928-1934,22,33.0,6,1296,127,48.00,2110+,25.59,1.0,10,2,53+,0
64,DR Jardine (ENG),1928-1934,22,33.0,6,1296,127,48.00,2110+,25.59,1.0,10,2,53+,0

In [82]:
new_name=['Player','Span','Mat',"Inns",'Not_Out','Runs','Highest_innes_score','Ave','balls_faced','batting_strike_rate','hundreds_scored','fifties_scored','ducks_scored','boundary_fours','boundary_sixes']
firs.columns = new_name
firs

,Player,Span,Mat,Inns,Not_Out,Runs,Highest_innes_score,Ave,balls_faced,batting_strike_rate,hundreds_scored,fifties_scored,ducks_scored,boundary_fours,boundary_sixes
0,DG Bradman (AUS),1928-1948,52,80.0,10,6996,334,99.94,9800+,58.60,29.0,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20.0,1,1181,186,62.15,1287,91.76,4.0,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31.0,7,1485,269*,61.87,2667,55.68,5.0,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41.0,4,2256,274,60.97,1707+,54.48,7.0,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40.0,4,2190,270*,60.83,416+,56.00,10.0,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,GC Smith (ICC/SA),2002-2014,117,205.0,13,9265,277,48.25,15525,59.67,27.0,38,11,1165,24
61,WH Ponsford (AUS),1924-1934,29,48.0,4,2122,266,48.22,3118+,44.77,7.0,6,1,119+,0
62,SJ McCabe (AUS),1930-1938,39,62.0,5,2748,232,48.21,3217+,60.02,6.0,13,4,241+,5+
63,DR Jardine (ENG),1928-1934,22,33.0,6,1296,127,48.00,2110+,25.59,1.0,10,2,53+,0
64,DR Jardine (ENG),1928-1934,22,33.0,6,1296,127,48.00,2110+,25.59,1.0,10,2,53+,0

In [63]:
firs.isnull().sum()

Player                 0
Span                   0
Mat                    0
Inns                   1
Not_Out                0
Runs                   0
Highest_innes_score    0
Ave                    0
balls_faced            3
batting_strike_rate    2
hundreds_scored        1
fifties_scored         0
ducks_scored           0
boundary_fours         0
boundary_sixes         0
dtype: int64

In [64]:
firs[firs['balls_faced'].isna()|firs['Inns'].isna()|firs['batting_strike_rate'].isna()|firs['hundreds_scored'].isna()]
# fir.columns

,Player,Span,Mat,Inns,Not_Out,Runs,Highest_innes_score,Ave,balls_faced,batting_strike_rate,hundreds_scored,fifties_scored,ducks_scored,boundary_fours,boundary_sixes
7,KF Barrington (ENG),1955-1968,82,NaN,15,6806,256,58.67,4957+,42.42,20.0,35,5,591+,27
8,ED Weekes (WI),1948-1958,48,81.0,5,4455,207,58.61,NaN,0.00,15.0,19,6,258+,2
11,KC Sangakkara (SL),2000-2015,134,233.0,17,12400,319,57.40,22882,54.19,NaN,52,11,1491,51
13,JB Hobbs (ENG),1908-1930,61,102.0,7,5410,211,56.94,5363+,NaN,15.0,28,4,276+,8
15,CL Walcott (WI),1948-1960,44,74.0,7,3798,220,56.68,NaN,0.00,15.0,14,1,107+,11
30,RT Ponting (AUS),1995-2012,168,287.0,29,13378,257,51.85,22782,NaN,41.0,62,17,1509,73
56,Hon.FS Jackson (ENG),1893-1905,20,33.0,4,1415,144*,48.79,NaN,0.00,5.0,6,3,51+,0

In [65]:
# fir['Inns']=fir['Inns'].fillna(0)
# fir['Inns'].isna()

# fir['balls_faced']=fir['balls_faced'].fillna(0)
# fir['batting_strike_rate']=fir['batting_strike_rate'].fillna(0)
# fir['hundreds_scored']=fir['hundreds_scored'].fillna(0)
# fir.columns[fir.isnull().any()]
# fir.isnull().any()
firs.fillna(0,inplace=True)
firs.isnull().any()

Player                 False
Span                   False
Mat                    False
Inns                   False
Not_Out                False
Runs                   False
Highest_innes_score    False
Ave                    False
balls_faced            False
batting_strike_rate    False
hundreds_scored        False
fifties_scored         False
ducks_scored           False
boundary_fours         False
boundary_sixes         False
dtype: bool

In [66]:
dup=firs.duplicated()
dup

0     False
1     False
2     False
3     False
4     False
      ...
60    False
61    False
62    False
63    False
64     True
Length: 65, dtype: bool

In [67]:
# # Identify all duplicated rows
# duplicated_rows = fir.duplicated(keep=False)

# # Use these rows to filter the DataFrame and then use `.any()` along axis=0 to check each column
# columns_with_duplicates = fir[duplicated_rows].columns[fir[duplicated_rows].any(axis=0)].tolist()

# # This will give you a list of column names that have duplicated values
# print(columns_with_duplicates)

column_names_with_duplicates = firs.columns[firs[firs.duplicated(keep=False)].any(axis=0)].tolist()
print(column_names_with_duplicates)

['Player', 'Span', 'Mat', 'Inns', 'Not_Out', 'Runs', 'Highest_innes_score', 'Ave', 'balls_faced', 'batting_strike_rate', 'hundreds_scored', 'fifties_scored', 'ducks_scored', 'boundary_fours', 'boundary_sixes']

In [68]:
firs[firs['Player'].duplicated()]

,Player,Span,Mat,Inns,Not_Out,Runs,Highest_innes_score,Ave,balls_faced,batting_strike_rate,hundreds_scored,fifties_scored,ducks_scored,boundary_fours,boundary_sixes
23,AD Nourse (SA),1935-1951,34,62.0,7,2960,231,53.81,108+,63.88,9.0,14,3,115+,6
52,V Kohli (IND),2011-2024,113,191.0,11,8848,254*,49.15,15924,55.56,29.0,30,14,991,26
64,DR Jardine (ENG),1928-1934,22,33.0,6,1296,127,48.00,2110+,25.59,1.0,10,2,53+,0

In [69]:
firs[firs['Player'].isin(['AD Nourse (SA)','V Kohli (IND)','DR Jardine (ENG)'])]

,Player,Span,Mat,Inns,Not_Out,Runs,Highest_innes_score,Ave,balls_faced,batting_strike_rate,hundreds_scored,fifties_scored,ducks_scored,boundary_fours,boundary_sixes
14,AD Nourse (SA),1935-1951,34,62.0,7,2960,231,53.81,108+,63.88,9.0,14,3,115+,6
23,AD Nourse (SA),1935-1951,34,62.0,7,2960,231,53.81,108+,63.88,9.0,14,3,115+,6
49,V Kohli (IND),2011-2024,113,191.0,11,8848,254*,49.15,15924,55.56,29.0,30,14,991,26
52,V Kohli (IND),2011-2024,113,191.0,11,8848,254*,49.15,15924,55.56,29.0,30,14,991,26
63,DR Jardine (ENG),1928-1934,22,33.0,6,1296,127,48.00,2110+,25.59,1.0,10,2,53+,0
64,DR Jardine (ENG),1928-1934,22,33.0,6,1296,127,48.00,2110+,25.59,1.0,10,2,53+,0

In [70]:
rem= firs.drop_duplicates(inplace=True)
# rem
firs.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
59    False
60    False
61    False
62    False
63    False
Length: 62, dtype: bool

In [71]:
firs['Span'].str.split('-')

0     [1928, 1948]
1     [2022, 2023]
2     [2015, 2016]
3     [1963, 1970]
4     [1930, 1954]
          ...
59    [1965, 1981]
60    [2002, 2014]
61    [1924, 1934]
62    [1930, 1938]
63    [1928, 1934]
Name: Span, Length: 62, dtype: object

In [72]:
firs['Rookie_year']=firs['Span'].str.split('-').str[0]
firs['Finale_year']=firs['Span'].str.split('-').str[1]
firs[['Rookie_year','Finale_year']]
# fir=fir.drop(['Span'],axis=1)

   Rookie_year Finale_year
0         1928        1948
1         2022        2023
2         2015        2016
3         1963        1970
4         1930        1954
..         ...         ...
59        1965        1981
60        2002        2014
61        1924        1934
62        1930        1938
63        1928        1934

[62 rows x 2 columns]

In [83]:
firs['Player'].str.split('(')
firs['Country']=firs['Player'].str.split('(').str[1]
firs['Country']=firs['Country'].str.split(')').str[0]
firs

,Player,Span,Mat,Inns,Not_Out,Runs,Highest_innes_score,Ave,balls_faced,batting_strike_rate,hundreds_scored,fifties_scored,ducks_scored,boundary_fours,boundary_sixes,Rookie_year,Finale_year,Country
0,DG Bradman (AUS),1928-1948,52,80.0,10,6996,None,99.94,9800+,58.60,29.0,13,7,626+,6,1928,1948,AUS
1,HC Brook (ENG),2022-2023,12,20.0,1,1181,None,62.15,1287,91.76,4.0,7,1,141,23,2022,2023,ENG
2,AC Voges (AUS),2015-2016,20,31.0,7,1485,None,61.87,2667,55.68,5.0,4,2,186,5,2015,2016,AUS
3,RG Pollock (SA),1963-1970,23,41.0,4,2256,None,60.97,1707+,54.48,7.0,11,1,246+,11,1963,1970,SA
4,GA Headley (WI),1930-1954,22,40.0,4,2190,None,60.83,416+,56.00,10.0,5,2,104+,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,KD Walters (AUS),1965-1981,74,125.0,14,5357,None,48.26,8662+,49.16,15.0,33,4,525+,23,1965,1981,AUS
60,GC Smith (ICC/SA),2002-2014,117,205.0,13,9265,None,48.25,15525,59.67,27.0,38,11,1165,24,2002,2014,ICC/SA
61,WH Ponsford (AUS),1924-1934,29,48.0,4,2122,None,48.22,3118+,44.77,7.0,6,1,119+,0,1924,1934,AUS
62,SJ McCabe (AUS),1930-1938,39,62.0,5,2748,None,48.21,3217+,60.02,6.0,13,4,241+,5+,1930,1938,AUS
63,DR Jardine (ENG),1928-1934,22,33.0,6,1296,None,48.00,2110+,25.59,1.0,10,2,53+,0,1928,1934,ENG

In [80]:
firs['Highest_innes_score']=firs['Highest_innes_score'].fillna(0,inplace=True)
firs

,Player,Span,Mat,Inns,Not_Out,Runs,Highest_innes_score,Ave,balls_faced,batting_strike_rate,hundreds_scored,fifties_scored,ducks_scored,boundary_fours,boundary_sixes,Rookie_year,Finale_year,Country
0,DG Bradman (AUS),1928-1948,52,80.0,10,6996,None,99.94,9800+,58.60,29.0,13,7,626+,6,1928,1948,AUS
1,HC Brook (ENG),2022-2023,12,20.0,1,1181,None,62.15,1287,91.76,4.0,7,1,141,23,2022,2023,ENG
2,AC Voges (AUS),2015-2016,20,31.0,7,1485,None,61.87,2667,55.68,5.0,4,2,186,5,2015,2016,AUS
3,RG Pollock (SA),1963-1970,23,41.0,4,2256,None,60.97,1707+,54.48,7.0,11,1,246+,11,1963,1970,SA
4,GA Headley (WI),1930-1954,22,40.0,4,2190,None,60.83,416+,56.00,10.0,5,2,104+,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,KD Walters (AUS),1965-1981,74,125.0,14,5357,None,48.26,8662+,49.16,15.0,33,4,525+,23,1965,1981,AUS
60,GC Smith (ICC/SA),2002-2014,117,205.0,13,9265,None,48.25,15525,59.67,27.0,38,11,1165,24,2002,2014,ICC/SA
61,WH Ponsford (AUS),1924-1934,29,48.0,4,2122,None,48.22,3118+,44.77,7.0,6,1,119+,0,1924,1934,AUS
62,SJ McCabe (AUS),1930-1938,39,62.0,5,2748,None,48.21,3217+,60.02,6.0,13,4,241+,5+,1930,1938,AUS
63,DR Jardine (ENG),1928-1934,22,33.0,6,1296,None,48.00,2110+,25.59,1.0,10,2,53+,0,1928,1934,ENG

In [111]:
firs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62 entries, 0 to 63
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Player               62 non-null     object
 1   Span                 62 non-null     object
 2   Mat                  62 non-null     int64
 3   Inns                 62 non-null     float64
 4   Not_Out              62 non-null     int64
 5   Runs                 62 non-null     int64
 6   Highest_innes_score  0 non-null      object
 7   Ave                  62 non-null     float64
 8   balls_faced          62 non-null     object
 9   batting_strike_rate  62 non-null     float64
 10  hundreds_scored      62 non-null     float64
 11  fifties_scored       62 non-null     int64
 12  ducks_scored         62 non-null     int64
 13  boundary_fours       62 non-null     object
 14  boundary_sixes       62 non-null     object
 15  Rookie_year          62 non-null     object
 16  Finale_year          62 non-null     object
 17  Country              62 non-null     object
dtypes: float64(4), int64(5), object(9)
memory usage: 9.2+ KB

In [125]:
firs['Finale_year']=firs['Finale_year'].year

AttributeError: 'Series' object has no attribute 'year'